In [1]:
import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from statistics import mean
from scipy import stats

In [2]:
results_folder = os.getcwd()
csv_details = "EXPERIMENTS.csv"
csv_explicit = "explicit.csv"
csv_implicit = "implicit.csv"
csv_init = "init.csv"

In [3]:
exp_details = pd.read_csv(results_folder+"/"+csv_details)
survey_explicit = pd.read_csv(results_folder+"/"+csv_explicit)
survey_implicit = pd.read_csv(results_folder+"/"+csv_implicit)
survey_init = pd.read_csv(results_folder+"/"+csv_init)

In [4]:
def get_mean_godspeed(df_survey, from_col, to_col):
    mean_godspeed = []
    for index in range(len(df_survey)):
        all_values = df_survey.iloc[index].tolist()
        godspeed_index = all_values[from_col:to_col] # 5, 6 or 3 items depending on section
        mean_godspeed.append(np.round(mean(godspeed_index), 2))
    return mean_godspeed

In [5]:
sections = ["anthropomorphism", "animacy", "likeability", "intelligence", "safety",
           "overall", "sysuse", "infoqual", "interqual"]

# CREATE GODSPEED CSV

In surveys, Godspeed is from column 27 (starting from 0).

OTHER METRICS:

OVERALL: Average responses to 1 - 19

System Usefulness (SYSUSE): average responses to 1 - 8

Information Quality (INFOQUAL): average responses to 9 - 15

Interface Quality (INTERQUAL): average responses to 16 - 18

In [7]:
godspeed_implicit = {}
godspeed_explicit = {}
# Anthropomorphism
godspeed_implicit["anthropomorphism"] = get_mean_godspeed(survey_implicit, 27, 32)
godspeed_explicit["anthropomorphism"] = get_mean_godspeed(survey_explicit, 27, 32)

#Animacy
godspeed_implicit["animacy"] = get_mean_godspeed(survey_implicit, 32, 38)
godspeed_explicit["animacy"] = get_mean_godspeed(survey_explicit, 32, 38)

#Likeability
godspeed_implicit["likeability"] = get_mean_godspeed(survey_implicit, 38, 43)
godspeed_explicit["likeability"] = get_mean_godspeed(survey_explicit, 38, 43)

#Perceived intelligence
godspeed_implicit["intelligence"] = get_mean_godspeed(survey_implicit, 43, 48)
godspeed_explicit["intelligence"] = get_mean_godspeed(survey_explicit, 43, 48)

#Perceived safety
godspeed_implicit["safety"] = get_mean_godspeed(survey_implicit, 48, 51)
godspeed_explicit["safety"] = get_mean_godspeed(survey_explicit, 48, 51)

# OVERALL: Average responses to 1 - 19
godspeed_implicit["overall"] = get_mean_godspeed(survey_implicit, 27, 47)
godspeed_explicit["overall"] = get_mean_godspeed(survey_explicit, 27, 47)

# System Usefulness (SYSUSE): average responses to 1 - 8
godspeed_implicit["sysuse"] = get_mean_godspeed(survey_implicit, 27, 36)
godspeed_explicit["sysuse"] = get_mean_godspeed(survey_explicit, 27, 36)

# Information Quality (INFOQUAL): average responses to 9 - 15
godspeed_implicit["infoqual"] = get_mean_godspeed(survey_implicit, 36, 43)
godspeed_explicit["infoqual"] = get_mean_godspeed(survey_explicit, 36, 43)

# Interface Quality (INTERQUAL): average responses to 16 - 18
godspeed_implicit["interqual"] = get_mean_godspeed(survey_implicit, 43, 46)
godspeed_explicit["interqual"] = get_mean_godspeed(survey_explicit, 43, 46)

### If we want to consider the order of questionnaires submission

In [ ]:
# Create list of first and second surveys (explicit, implicit)
first_surveys = []
second_surveys = []
for index in np.unique(exp_details['ID']):
    order_behaviors = exp_details[exp_details['ID'] == index]['BEHAVIOR'].tolist()
    first_surveys.append(order_behaviors[0])
    second_surveys.append(order_behaviors[1])

# Create dataframe
df = pd.DataFrame(np.unique(exp_details['ID']), columns = ['ID'] )
df['FIRST_SURVEY'] = first_surveys
df['SECOND_SURVEY'] = second_surveys

# ADD sections
for section in sections:
    first_values = []
    second_values = []
    for i in range(len(first_surveys)):
        if first_surveys[i] == 'explicit' and second_surveys[i] == 'implicit':
            first_values.append(godspeed_explicit[section][i])
            second_values.append(godspeed_implicit[section][i])
        elif first_surveys[i] == 'implicit' and second_surveys[i] == 'explicit':
            first_values.append(godspeed_implicit[section][i])
            second_values.append(godspeed_explicit[section][i])
        else:
            print("ERROR: in explicit or implicit trust sequence.")
    df['FIRST_'+section.upper()] = first_values
    df['SECOND_'+section.upper()] = second_values
    
# Save csv
#df.to_csv("results_godspeed.csv", index=False)

### If we want to consider only type of questionnaire referring to the behavior (explicit, implicit)

In [19]:
# Create dataframe
df = pd.DataFrame(np.unique(exp_details['ID']), columns = ['ID'] )

# ADD sections
for section in sections:
    df['E_'+section.upper()] = godspeed_explicit[section]
    df['I_'+section.upper()] = godspeed_implicit[section]

# Save csv
df.to_csv("results_godspeed.csv", index=False)

# ANALYSIS

In [6]:
df = pd.read_csv("results_godspeed.csv")
#df.drop(df[df['ID'] == 59].index, inplace=True)
df

,ID,E_ANTHROPOMORPHISM,I_ANTHROPOMORPHISM,E_ANIMACY,I_ANIMACY,E_LIKEABILITY,I_LIKEABILITY,E_INTELLIGENCE,I_INTELLIGENCE,E_SAFETY,I_SAFETY,E_OVERALL,I_OVERALL,E_SYSUSE,I_SYSUSE,E_INFOQUAL,I_INFOQUAL,E_INTERQUAL,I_INTERQUAL
0,0,4,4,4,4,4,5,3,4,5,5,4,4,4,4,4,4,3,4
1,1,4,4,4,4,4,4,4,3,5,4,4,4,4,4,4,4,4,4
2,2,3,3,3,3,3,4,3,4,4,4,3,3,3,3,3,4,3,4
3,3,2,2,2,3,4,4,3,4,4,4,3,3,1,2,4,4,3,4
4,4,4,4,3,3,4,5,3,3,4,4,4,4,4,3,4,4,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,57,4,3,4,3,5,5,4,4,4,4,4,4,4,3,5,4,5,4
58,58,3,3,3,3,5,5,3,4,4,4,3,4,3,3,4,5,3,4
59,59,2,1,2,1,4,3,1,2,3,2,2,2,2,1,3,2,1,3
60,60,4,5,4,5,5,5,4,4,4,4,4,4,4,5,5,5,4,4
61,61,3,3,4,3,4,5,5,4,4,4,4,4,4,3,4,5,5,5

In [7]:
statistics = pd.DataFrame(sections, columns = ['SECTION'] )

In [8]:
def update_statistics(df, indexes, behavior, title):
    for section in sections:
        if behavior == "explicit":
            col = df['E_'+section.upper()][indexes].tolist()
        else:
            col = df['I_'+section.upper()][indexes].tolist()
            
        row = statistics[statistics['SECTION'] == section].index
        statistics.loc[row, 'MEAN_'+title] = np.round(mean(col), 2)
        statistics.loc[row, 'STD_'+title] = np.round(np.std(col), 2)

        #statistic, pvalue = stats.kstest(col_1, col_2)
        #statistics.loc[row, 'PVALUE'] = np.round(pvalue, 2)

In [9]:
id_true_pred = [0, 1, 4, 5, 6, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 23, 24, 25, 26, 28, 31, 33, 35, 36, 37, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 54, 57]
id_younger_pred = [29, 34, 39, 45, 48, 52, 53, 55, 56, 59, 60, 61]
id_older_pred = [2, 3, 7, 12, 15, 21, 22, 27, 30, 32, 38, 58]

update_statistics(df, id_true_pred, "explicit", "TRUE")
update_statistics(df, id_younger_pred, "explicit", "YOUNGER")
update_statistics(df, id_older_pred, "explicit", "OLDER")
statistics

,SECTION,MEAN_TRUE,STD_TRUE,MEAN_YOUNGER,STD_YOUNGER,MEAN_OLDER,STD_OLDER
0,anthropomorphism,3.03,0.90,2.83,0.99,2.50,0.87
1,animacy,3.08,0.87,3.08,0.86,2.83,0.69
2,likeability,4.26,0.59,4.42,0.64,3.75,0.83
3,intelligence,3.71,0.76,3.42,1.04,2.92,1.04
4,safety,4.18,0.68,4.08,0.76,3.67,0.75
5,overall,3.45,0.59,3.33,0.75,3.00,0.58
6,sysuse,2.95,0.92,2.92,1.04,2.58,0.76
7,infoqual,4.16,0.67,4.17,0.80,3.67,0.75
8,interqual,3.89,0.79,3.50,1.04,2.92,1.04

In [10]:
len(id_true_pred)

38

In [42]:
id_true_pred = [3, 4, 5, 6, 8, 9, 10, 12, 13, 15, 16, 17, 19, 20, 23, 24, 25, 28, 30, 31, 33, 37, 38, 40, 41, 42, 43, 44, 46, 47, 50, 51, 54, 58, 60]
id_younger_pred = [0, 18, 26, 29, 34, 36, 39, 45, 48, 52, 53, 55, 56, 59, 61]
id_older_pred = [1, 2, 7, 11, 14, 21, 22, 27, 32, 35, 49, 57]

statistics = get_df_statistics(df, id_true_pred, "implicit", "TRUE")
statistics = get_df_statistics(df, id_younger_pred, "implicit", "YOUNGER")
statistics = get_df_statistics(df, id_older_pred, "implicit", "OLDER")
statistics

,SECTION,MEAN_TRUE,STD_TRUE,MEAN_YOUNGER,STD_YOUNGER,MEAN_OLDER,STD_OLDER
0,anthropomorphism,2.91,0.91,2.73,1.06,2.67,0.75
1,animacy,3.09,0.91,3.00,0.89,2.92,0.76
2,likeability,4.26,0.77,4.40,0.80,4.17,0.55
3,intelligence,3.54,0.81,3.33,0.94,3.58,0.76
4,safety,3.91,0.77,4.07,0.85,3.83,0.55
5,overall,3.29,0.70,3.20,0.75,3.17,0.55
6,sysuse,2.77,0.96,2.80,1.05,2.67,0.75
7,infoqual,3.97,0.77,4.07,0.85,3.83,0.55
8,interqual,3.66,0.79,3.60,0.95,3.75,0.60

In [44]:
statistics.to_csv("statistics_godspeed.csv", index=False)